<%- include("partials/header") %>

<hr class="divider">

<p class="text-center">
  <a class="btn btn-danger" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">October 23rd</a>
  <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">October 24th</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <ul>
          <li>Baddee</li>
          <li>Lanmeh</li>
          <li>Ras</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <ul>
          <li>Shez</li>
          <li>Cowdruid</li>
          <li>Garallu (late)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
