<%- include("partials/header") %>

<hr class="divider">

<% if (dateList == "") { %>
  <h1>No attendance records present in DB.</h1>
<% } else { %>
  <% let count = 0 %>

  <% if (dateList!= null && userList != null){ %>
    <% dateList.forEach(function(date){ %>
      <h2><%= date %></h2>
      <ol>
        <% userList[count].forEach(function(user){ %>
          <li><%= user %></li>
        <% }) %>
      </ol>
      <% count++ %>
      <hr class="divider">
    <% }); %>
  <% } %>
<% } %>

<%- include("partials/footer") %>
