<%- include("partials/header") %>

<div class="user-stats text-center">

  <% if (username != "") { %>
    <h1>Welcome back, <%= username %>!</h1>
    <br />
  <% } %>

  <hr class="divider">
  <br />

  <h4>Attendance over last 10 weeks: </h4>
  <h3>90%</h3>
  <hr>

  <% if (items[0] != "empty") { %>
    <h5>Items to look out for:</h5>
    <ul class="list-group">
      <% items.forEach(function(item){ %>
        <li class="list-group-item list-group-item-danger"><a href="#" target="_blank"><%= item %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <h4>Not in position #1 for any items.</h4>
  <% } %>

</div>

<%- include("partials/footer") %>
