<%- include("partials/header") %>

<hr class="divider">
<div class="overview-text text-center">
  <h1>Reva Loot Policy</h1>
  <h6>Created 28.08.2022</h6>
  <h6>Last Updated 03.01.2023</h6>
  <br />
  <h4 style="color:DarkRed;">**Any feedback about the information below is always welcome! Feel free to ping/DM an officer with your thoughts.**</h4>
  <br />
  <br />
  <h2>Introduction</h2>
  <hr>
  <h6>
    The purpose of this document is to provide a clear description of Reva’s loot distribution system going forward. The system was originally developed by ONSLAUGHT (to my knowledge) and has been adjusted to fit the needs and atmosphere of Reva.

    The adjustments made are in the interest of making the system more straight-forward and to align with Reva’s relaxed and semi-casual atmosphere as opposed to the hardcore speedrunning atmosphere of ONSLAUGHT.

    This system is aimed at being as fair and transparent as possible. It allows each member to have some control over which pieces of loot they personally want to prioritize.

    This loot system is only applicable to 25-man guild runs. Optional 10-man raids and any alt runs are not beholden to this policy.

    The adjustments made to the original system are as follows:
    <br>
    <br>
    <ul>
      <strong>
        <li>Attendance curve reduced from 16 weeks down to 10 weeks. We changed this as 4 months of full attendance for a reroll/trial to reach full bonus seemed excessive, especially considering the pace that Classic phases tend to be released.</li>
        <li>Decimal points are included as a part of a character’s final value of an item. This is done to reduce the possibility of a tie which would result in a rolloff, and also in the interest of having all values in the list be exact.</li>
        <li>Loot lists will be submitted on a per-phase basis (1 list for Naxx/EoE/OS, another list for Ulduar, etc.), as opposed to bundling phases together (1 list for Naxx/EoE/OS/Ulduar, another list for ToC/ICC/RS). Having lists be per-phase will allow members to more tightly focus their list on the gear that they know is relevant to them in the current tier. Having bundled phases would require that each member put more effort into understanding their long-term BIS and planning how to properly allocate their brackets to ensure they could gear over many months, which is something we want to avoid. Per-phase lists should allow the members that want to optimize the opportunity to do that, while still allowing the members that don’t want to expend as much effort the ability to throw together a simple list from a quick BIS list google.</li>
        <li>In relation to the above point, the value cap for lists is reduced from 50 to 30. Since members will not need to create lists for multiple phases of gear, the cap of 50 points seemed excessive. Reducing the point cap alongside the change to per-phase lists seems logical.</li>
        <li>Removed special class rules, as the original system was designed for Vanilla Classic and these rules don’t make sense in the context of current expansions.</li>
        <li>Added a rerolling policy. This is put into place in the interest of preserving the spirit and integrity of the loot system. As the guild-wide loot list is meant to be created from each member submitting their own personal loot list without having seen any other member’s priorities, having someone submit a new loot list mid-phase after potentially having seen the entire guild’s loot priorities would allow the new list to take advantage of that knowledge. The policy should be strict enough to prevent taking advantage of the system while also being lenient enough that the member rerolling should still have a decent shot at getting their top priority items.</li>
      </strong>
    </ul>
  </h6>
  <hr class="divider">
  <h2>Loot Rules</h2>
  <hr>
  <h6>
    All loot and character information (mainly attendance and loot received) is tracked and updated immediately after each raid. This information is publicly available to each member of the guild.
    <br />
    <br />
    All raiding members may assign a value to each item from a raid tier. This process is completed once when a new phase is announced. Rules for assigning values are described below. These values may not be altered once submitted and are only affected by attendance modifiers after that point.
    <br />
    <br />
    When an item drops, the master looter references the loot list to see which character has the highest value on the item. If that character is present, they will be asked if they want the item. If they do not want the item, or that character is absent, this process is repeated for the next character in line.
    <br />
    <br />
    10% of a character’s raid attendance in the past ten (10) weeks is added to the value of an item.
    <br />
    <br />
    The formula for the value of an item is as follows:
    <br />
  </h6>
  <p><em>
    Value the player ranked the item at
    <br />
    +
    <br />
    10% of that player's raid attendance percentage over the last 10 weeks
    <br />
    =
    <br />
    Final item value
  </em></p>
  <br />
  <br />
  <h6>
    <u>Any item with no value listed is up for free rolls. Highest roll wins.</u>
    <br />
    <strong>In the case of a tie, a roll-off occurs.</strong>
  </h6>
  <hr class="divider">
  <h2>Loot List Creation</h2>
  <hr>
  <h6>
    <ul class="list-group">
      <li class="list-group-item">Members create an ordered list of all loot they would like to obtain. The higher the value the better.</li>
      <li class="list-group-item">Members are given two (2) item slots per value, starting at 30 and descending by 1.</li>
      <li class="list-group-item">Values are bracketed in groups of three (3). Each bracket may only contain one item of a type (ex: you cannot have two melee weapons, two helmets, two rings, two trinkets, etc. in Bracket 1). Brackets are set in the following groupings:<br />
        <ul class="list-group">
          <li class="list-group-item"><u>Bracket 1</u>: 30, 29, 28</li>
          <li class="list-group-item"><u>Bracket 2</u>: 27, 26, 25</li>
          <li class="list-group-item"><u>Bracket 3</u>: 24, 23, 22</li>
          <li class="list-group-item"><u>Bracket 4</u>: 21, 20, 19</li>
        </ul>
        <br />
        <em>All values 18 and below are not bracketed.</em>
      </li>
      <li class="list-group-item">The items placed in each bracket can total up to 3 allocation points. All items are classified as Tier 1, Tier 2, or Tier 3 which determine its allocation point budget. Tier 1 and Tier 2 items cost 1 allocation point. Tier 3 items cost 0 allocation points.</li>
      <li class="list-group-item">Tier 1 items also occupy both item slots for its assigned value (ex: The Turning Tide is a Tier 1 item. If it’s assigned at value 30, no other item can be assigned at value 30. Tier armor is classified as Tier 3. You may have two tokens at a value of 30 instead.)</li>
      <li class="list-group-item">Each loot list is relevant on a per-phase, per-character basis. Each member will create and submit their personal loot list as each phase is announced.</li>
      <li class="list-group-item">Items not in a bracket have no spacing rules. characters may list items at value 18 and below regardless of classification (ex: A character can list The Turning Tide (Tier 1 item) at item value 18 and Voice of Reason (Tier 1 item) at item value 18).</li>
      <li class="list-group-item">With the exception of non-unique rings and weapons, an item cannot be listed twice.</li>
    </ul>
  </h6>
  <hr class="divier">
  <h2>Loot List Assistance</h2>
  <hr />
  <h6>
    Any member planning to raid should check <strong>&lt;channel name TBD&gt;</strong> and post a loot list.
    <br /><br />
    Any questions or clarifications can be raised with any of the officers. We’re happy to explain anything that is unclear.
    <br /><br />
    If you need assistance with filling out a loot list or understanding the restrictions, please contact an officer on Discord.
    <br /><br />
    All item classifications can be found at <strong>&lt;sheet needs to be created&gt; (Baddee to-do).</strong>
  </h6>
  <hr class="divider">
  <h2>Loot List Visibility</h2>
  <hr />
  <h6>
    Every submitted loot list, as well as the guild-wide loot list, will be publicly available to every raiding member of the guild. This is in the interest of full transparency as well as to ensure that the loot policy is fully auditable by any raiding member at any time.
    <br /><br />
    All raiding members of the guild, officer or otherwise, will abide by and be beholden to the guild-wide loot list. This removes any opportunity for human error during loot distribution.
  </h6>
  <hr class="divider">
  <h2>Loot List Oversight</h2>
  <hr />
  <h6>
    There will be no officer management or manipulation of loot lists except in exceptional circumstances (ex: A Holy Paladin stacking the top brackets of their loot list with non-bis cloth gear). This oversight will only come into play in situations where the submitted loot list is obviously and intentionally bogus.
    <br /><br />
    In such a situation, the submitted loot list will be rejected by an officer and the member that submitted this list will be asked to revise their list and re-submit it.
  </h6>
  <hr class="divider">
  <h2>Rerolling Policy</h2>
  <hr />
  <h6>
    As the above described loot lists are character-specific, any reroll would require that a new loot list is submitted.
    <br /><br />
    Due to the nature of having character-specific and guild-wide loot lists visible to every raiding member, any reroll will have their new loot list created with a bias (conscious or otherwise). Due to this, attendance bonuses for list values are also character-specific and thus a reroll would start with a fresh attendance score just as if they were a new Trial member. Additionally, there will be a 2-week probation period where this reroll is not able to accrue attendance points. After this 2-week period ends, the rerolled character would begin accruing attendance points which would build up and cap out after 10 weeks of attended raids.
  </h6>
</div>

<%- include("partials/footer") %>
